<div>
    <app-header />

    <div class="flex pt-20">
        <input type="checkbox" id="menu" class="hidden peer">
        <label for="menu" class="bg-open-menu w-6 h-5 bg bg-cover bg bg-center fixed inset-0 translate-x-4 mt-7
            cursor-pointer z-50
            peer-checked:bg-close-menu transition-all"></label>
        <div class="flex-auto w-[20%] max-w-64 min-w-56 hidden pt-24 md:pt-0
            peer-checked:block ">
            <app-aside />

        </div>
        <div class="flex-auto w-[80%] min-h-[83dvh] 
         bg-slate-600 ">
            <router-outlet />
        </div>
    </div>
    <app-footer />
</div>